body {
    font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Helvetica Neue, STHeiti, Microsoft Yahei, Tahoma, Simsun, sans-serif
}

* {
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: none
}

.r {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: #aaa
}

#c, .f, .c, .g {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

#a {
    padding: 20px;
    margin-right: 10px;
    overflow: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

*::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .05)
}

*::-webkit-scrollbar-thumb {
    background-color: #1c93ff
}

#c div:hover, .act {
    color: Orange
}

#c div {
    padding: 10px;
    cursor: pointer
}

#c {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

ul {
    display: block
}

#b li {
    list-style: none;
    font-size: 12px
}

#b > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    padding: 3px 5px;
    border: 1px solid #07457b
}

#b * {
    white-space: normal;
    word-break: break-all
}

#b pre {
    word-break: break-word;
    font-size: 16px;
    white-space: pre-wrap;
    padding: 30px 50px;
    color: #1ccaff
}

#b label {
    padding: 0 10px;
    width: 120px;
    flex-shrink: 0;
    color: darkorange
}

#b label._ {
    color: #ffb74d;
}

#b {
    height: 100%;
    padding: 10px 0 30px;
    line-height: 2;
    overflow: auto;
    width: 500px;
    background: #161d2f
}

.p {
    width: 100%;
    padding: 0 30px;
    background: #161d2f;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.g {
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative
}

.c * {
    white-space: normal
}

.c label {
    min-height: 40px;
    display: block;
    word-break: break-all;
    width: 200px;
    color: greenyellow
}

.c div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%
}

.c:hover {
    background: #1e2740
}

.lv {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 12px;
    color: #64aef1
}

.tp {
    left: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 12px;
    color: #fff
}

.c li {
    list-style: disc;
    line-height: 1.6;
    font-size: 12px;
    color: #0cf
}

.po li {
    color: #607d8b
}

.u::-webkit-scrollbar {
    width: 1px;
    height: 1px
}

.u::-webkit-scrollbar-thumb {
    background-color: #000
}

.u {
    position: relative;
    white-space: normal;
    word-break: break-word;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 0;
    margin: 0 !important;
    margin-left: -30px !important;
    padding-left: 30px;
    overflow: auto
}

.c {
    cursor: pointer;
    -webkit-box-align: start;
    align-items: flex-start;
    width: 400px;
    border: 3px solid #153049;
    height: 160px;
    padding: 10px;
    background: #161d2f;
    position: absolute;
}

.c i {
    border: 1px solid #404040;
    border-radius: 3px;
    display: block;
    width: 64px;
    height: 64px;
    background: rgba(255, 87, 34, .04) url(./Icons_Skills.png);
    background-size: 2048px 2048px
}

input:focus {
    border-color: #1c93ff
}

input {
    width: 100px;
    padding: 0 5px;
    color: #fff;
    border: 0;
    outline: none;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    margin-right: 20px
}

.f label {
    white-space: nowrap
}

.f {
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    height: 50px
}

#e:hover {
    background: #1c93ff;
    color: #fff
}

#e.s {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

#e {
    border: 1px solid #07457b;
    display: none;
    color: #ffc107;
    background: #161d2f;
    font-size: 13px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 9000;
    width: 30px;
    height: 30px
}

#b ul {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

@media only screen and (max-width: 920px) {
    .c i {
        width: 42px;
        height: 42px;
        background-size: 1365px auto;
        position: relative;
        top: 30px
    }

    #a {
        scroll-behavior: smooth;
        max-width: 100%
    }

    .c {
        max-width: 100%
    }

    #b.s {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    #b {
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        max-width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }

    .lv {
        right: auto;
        left: 15px;
        top: 10px
    }
}

#z {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1%;
    z-index: 10;
    transition: 1s ease-in-out;
    background: darkorange;
    opacity: .8;
}

#v {
    position: relative;
    overflow: hidden;
    width: 100%;
}