body, pre {
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif;
}
#a {
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: 0 0;
}

html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  overscroll-behavior: none;
  background: #17130d url(/public/bg.webp) center / cover;
}

@keyframes lp {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position: 2080px;
  }
}

#e,
#tt {
  right: 16px;
}

#b a {
  left: 16px;
  mix-blend-mode: color-dodge;
}

#b a,
#tt {
  bottom: 20px;
}

#tt,
.c label {
  font-weight: 600;
}

#i > div,
#c,
.c,
.c div,
.f,
.g,
.p,
.r {
  display: -webkit-box;
  display: -ms-flexbox;
}

#b li,
.c li,
.c p,
.lv {
  font-size: 12px;
}

.tp,
[title='Honour'] {
  font-size: 10px;
}

.bd {
  transition: 0.3s;
  opacity: 0.5;

  i {
    position: absolute;
    pointer-events: none;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after,
    &:before {
      content: '';
      display: block;
      position: absolute;
    }

    &:nth-child(2) {
      &:before {
        top: 0;
        background: linear-gradient(
                        90deg,
                        #bf9875,
                        #604b38 25%,
                        rgba(236, 197, 164, 0.62),
                        #604b38 75%,
                        #bf9875
        );
      }

      &:after {
        bottom: 0;
        background: linear-gradient(90deg, #bf9875, #604b38 50%, #bf9875);
      }

      &:after,
      &:before {
        width: calc(100% - 16px);
        height: 1px;
      }
    }

    &:nth-child(1) {
      &:before,
      &:after {
        width: 1px;
        height: calc(100% - 16px);
        background-color: #bf9875;
        top: 8px;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      &:before,
      &:after {
        background: url('/public/c.svg');
        width: 16px;
        height: 16px;
      }
    }

    &:nth-child(3) {
      &:before,
      &:after {
        left: 0;
      }

      &:after {
        transform: rotate(90deg);
      }
    }

    &:nth-child(4) {
      &:before,
      &:after {
        right: 0;
      }

      &:before {
        transform: rotate(270deg);
      }

      &:after {
        transform: rotate(180deg);
      }
    }

    &:nth-child(3),
    &:nth-child(4) {
      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }
}

#b *,
.c label {
  word-break: break-all;
}

#b pre,
.c p,
.u {
  word-break: break-word;
}

.c div,
.r {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

#a,
#b,
.c div {
  height: 100%;
}

#b *,
.c *,
.u {
  white-space: normal;
}

#b,
#e,
.c,
.p {
  background: rgb(24 18 9 / 50%);
  backdrop-filter: blur(8px);
}

#c div,
#e,
.c {
  cursor: pointer;
}

#e,
.f {
  -ms-grid-row-align: center;
}

#z,
.r {
  top: 0;
  left: 0;
}

#v,
.r {
  overflow: hidden;
}

#a,
#b,
.c .w,
.ri,
.u {
  overflow: auto;
}

#v,
.p {
  width: 100%;
}

.lo {
  position: relative;
  top: 10px;
  height: 64px;
  margin: 0 10px -14px;
  filter: drop-shadow(2px 4px 6px black);
}

#b a,
#e,
#tt,
#z,
.c,
.r,
.ri,
[title='Honour'] {
  position: absolute;
}

.c label,
ul {
  display: block;
}

#i > div,
#c,
#e.s,
.c,
.c div,
.f,
.g,
.p,
.r {
  display: flex;
}

.r {
  bottom: 0;
  right: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #aaa;
  background: radial-gradient(
                  at 30% 30%,
                  transparent,
                  rgb(19, 16, 11) 40%,
                  rgb(0, 0, 0)
  );

  &:before {
    animation: lp infinite 100s linear;
    content: '';
    position: absolute;
    display: block;
    pointer-events: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background: url(/public/mu.webp) 0 0 repeat-x;
    background-size: 2080px 100%;
  }
}

#c,
.c,
.f,
.g {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ri {
  inset: 10px 16px 4px;
  padding: 22px 16px;
}

#a,
#v,
.g,
.u {
  position: relative;
}

.c .w,
.lv,
.tp {
  position: absolute;
}

#a,
#b ul {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.g,
.u {
  height: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgba(35, 27, 7, 0.7),transparent, rgba(37, 28, 8, 0.7)),url("/public/a.webp") fixed;
}

#c {
  -ms-flex-wrap: wrap;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 13px;
  color: #fbcea0;

  div {
    transition: .3s;
    font-family: serif;
    min-width: 48px;
    position: relative;
    text-align: center;
  }

  div:hover,
  .act {
    color: #fff;

    .dc {
      transform: scaleX(1);
    }
  }
}

#b label,
.p {
  padding: 0 10px;
}

#i {
  user-select: none;
  position: absolute;
  inset: 10px 5px 10px 8px;
  overflow: auto;
  background: none;
  border: none;
  padding: 10px 5px 10px 0;
  line-height: 2;

  b {
    pointer-events: none;
  }

  & > div {
    border: 1px solid rgba(113, 91, 71, 0.5);
    margin-top: -1px;
    color: #fff;
    padding: 3px 6px 3px 5px;
  }
}

#b {
  z-index: 1;
  position: relative;
  width: 440px;
  margin: 10px;
  height: calc(100% - 40px);
  border-radius: 10px;
  border: 1px solid #a6896c9c;
  box-shadow: rgba(0, 0, 0, 0.5) -10px 10px 31px;

  li {
    list-style: none;

    & + li {
      border-top: 1px dashed #503d1a;
    }
  }

  pre {
    white-space: pre-wrap;
    padding: 30px 50px 10px;
    color: #c7a168;
  }

  label {
    width: 160px;
    flex-shrink: 0;
    color: #edd382;

    &._ {
      color: #9e8259;
    }
  }
}

.p {
  z-index: 3;
  backdrop-filter: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.2) 40%,
                  transparent 60%,
                  transparent
  );
}

.g {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lv,
.tp {
  left: 20px;
  width: 48px;
  text-align: center;
}

.l {
  flex-direction: column;
  width: 0;
  margin-left: 18px;
  flex-grow: 1;
}

.lv {
  top: 68px;
  color: #ae8341;
}

.f,
.tp,
input {
  color: #fff;
}

.tp {
  bottom: 11px;
  color: #8a755f;
}

.po li {
  color: #607d8b;
}

.u {
  flex: 1;
}

.c {
  border-radius: 30px;
  align-items: flex-start;
  width: 310px;
  height: 160px;
  padding: 16px 20px;
  &.a ,&:hover {
    background: rgba(16, 12, 0, 0.77);
    .bd {
      opacity: 1;
    }
  }
  li {
    margin-left: 12px;
    list-style: disc;
    line-height: 1.6;
    color: #9f8762;
    font-size: 12px;
  }

  label {
    color: #ff9800;
    background: linear-gradient(135deg, #fff, #fbcea0 50%, #fbcfa0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    margin-bottom: 8px;
    color: rgb(255 255 255 / 60%);
    font-size: 14px;
  }

  .w {
    inset: 8px 0 24px;
    height: auto;
    overflow: hidden;
    display: block;

    p {
      height: auto;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  & > i {
    border: 1px solid rgb(220 197 5 / 34%);
    border-radius: 3px;
    display: block;
    width: var(--iconSiz);
    height: var(--iconSiz);
    background: url('/public/un.webp') rgba(255, 87, 34, 0.04);
    background-size: var(--bgW) var(--bgH);
  }
}

input:focus {
  border-color: #c8ae87;
}

input {
  margin-left: 10px;
  border-radius: 30px;
  width: 140px;
  padding: 5px 12px;
  outline: 0;
  border: 1px solid rgba(158, 130, 89, 0.5);
}

.f label {
  white-space: nowrap;
  color: antiquewhite;
}

.f {
  margin-left: auto;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  gap: 20px;
}

#e {
  border: 1px solid #503f1a;
  color: #ffc107;
  top: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 9000;
  width: 30px;
  height: 30px;
  display: none;

  &:before {
    content: '?';
  }

  &:active {
    background: #73490a;
  }

  &.s {
    display: flex;

    &:before {
      content: 'X';
    }
  }

  @media only screen and (max-width: 768px) {
    display: flex;
  }
}

.dc {
  transform: scaleX(0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s  ease-in-out;
  height: 1px;
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
  }

  &:before {
    left: 0;
    background: linear-gradient(-90deg, #b78f6d 0, #ddc9a7, transparent);
  }

  &:after {
    right: 0;
    background: linear-gradient(90deg, #b78f6d 0, #ddc9a7, transparent);
  }

  svg {
    fill: currentColor;
    width: 24px;
  }
}

@media only screen and (max-width: 640px) {
  .r {
    background: radial-gradient(
                    at 30% 30%,
                    transparent,
                    rgb(19, 16, 11) 80%,
                    rgb(0, 0, 0)
    );
  }
  .dc {
    bottom: -1px;
    svg {
      width: 20px;
    }
  }
  #c {
    gap: 0;
  }
  input {
    width: 100px;
  }
  .lo {
    height: 36px;
  }
  .ri {
    padding: 10px 13px;
    inset: 3px 8px;
  }
  .c {
    width: 100%;
  }
  .f {
    height: auto;
    justify-content: center;
    padding: 10px;
  }
  #b {
    margin-top: 0;
    width: calc(100% - 16px);
    height: calc(100% - 10px);
  }
}

@media only screen and (max-width: 920px) {
  .f,
  .lo {
    margin: 0 auto;
  }
  #c {
    padding: 10px 0;
    justify-content: center;
  }
  #c div {
    min-width: 0;
    padding: 5px;
    font-size: 12px;
  }
  #a,
  #b,
  .c {
    max-width: 100%;
  }
  #b.s {
    transform: translate3d(0, 0, 0);
  }
  #b {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(120%, 0, 0);
  }
}

#z {
  height: 1px;
  width: 1%;
  z-index: 10;
  transition: 1s ease-in-out;
  background: #ffbb22;
  opacity: 0.8;
}

b {
  font-size: inherit;
}

.s b,
p b {
  color: #c9a66a;
  font-weight: 400;
}

._ + * {
  color: #877a6b;
}

#b a:hover {
  opacity: 1;
}

#b a {
  height: 24px;
  opacity: 0.5;
  width: 24px;
  display: block;
  filter: invert(1);

  img {
    width: 100%;
    height: 100%;
  }
}

.g:has(.c.a) #b.s {
  a {
    display: none;
  }
}

[title='Honour'] {
  right: 16px;
  top: 16px;
  display: block;
  visibility: visible;
  color: #fff;
  font-weight: 700;
  padding: 2px 4px;
  border-radius: 4px;
  background: #731414;
}

#tt {
  display: none;
  padding: 2px 8px;
  font-size: 12px;
  background: #120e09;
  border-radius: 14px;
  color: #c4c8e0;
  z-index: 23;
}

#ipt {
  width: 0;
  height: 0;
  position: absolute;
}

.cp {
  position: absolute;
  bottom: 10px;
  right: 16px;
  z-index: 1;

  span {
    font-size: 12px;
    color: #98918b;
  }

  button {
    transition: 0.2s;
    opacity: 0.6;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    border: 1px solid currentColor;
    color: #937859;

    &:active {
      background: #423c2e;
    }

    &:hover {
      opacity: 1;
      color: #c3994a;
    }
  }
}

#cp {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.cm {
  position: relative;
  margin: 0;

  span {
    height: 0;
    color: #a58776;
    position: absolute;
    font-size: 12px;
    top: -3px;
  }
}
.v{
  input {
    background:rgb(24 21 21 / 30%);
  }
}
